
.dropbtn {
  background-color: orange;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float:left;
  position:absolute;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #8cff66;
}
#container{ margin-left: auto;
    margin-right: auto;
  
}
#container1{
  box-sizing: content-box;  
  min-width: 500px;
  min-height: 200px;
  padding: 30px;  
  border: 3px solid orange;
}
#container2{
  box-sizing: content-box;  
  min-width: 500px;
  min-height: 300px;
  padding: 30px;  
  border: 3px solid #ff6699;
}
#container3{
  box-sizing: content-box;  
  min-width: 500px;
  max-height: 300px;
  padding: 30px;  
  border: 3px solid #ccff66;
}
  
.button {
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 { border: 1px solid black;background-color: orange; border-radius: 12px;font-size: 20px;}
.button1:hover {
  background-color: grey;
  color: white;
}
.button2 { border: 1px solid black;background-color: #ccff66; border-radius: 12px;font-size: 20px;}
.button2:hover {
  background-color: grey;
  color: white;
}
.button3 { border: 1px solid black;background-color: #ff9999; border-radius: 12px;font-size: 20px;}
.button3:hover {
  background-color: grey;
  color: white;
}
.button4 { border: 1px solid black;background-color: #cc9900; border-radius: 12px;font-size: 20px;}
.button4:hover {
  background-color: grey;
  color: white;
}
.button5 { border: 1px solid black;background-color: #00ff00; border-radius: 12px;font-size: 20px;}
.button5:hover {
  background-color: grey;
  color: white;
}
.button6 { border: 1px solid black;background-color: #ff00ff; border-radius: 12px;font-size: 20px;}
.button6:hover {
  background-color: grey;
  color: white;
}
    
  
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col1-"] {
    width: 100%;
  }
  [class*="col2-"] {
    display: hide;
  }
   [class="dropdown"] {
    display: hide;
  }
}

h2 img {
  height: 100%;
}

.w3-button w3-ripple w3-orange {font-size: 30px;}

*{margin:0;}

body{line-height:1.7;}

body{margin:auto;width:800px; background-color:white;}

ul li{font-family: "Lucida Grande", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Geneva, Arial, Verdana, sans-serif;
   font-size:10px;  float: left;
    padding-right: 5px;
    display: inline;
    text-align: -webkit-match-parent;}
#jobsdetail{margin-left:5px}
.jobsplacehead{margin-top:0px;position:relative;word-break: break-all; text-align:left;float:left;display:block;
    word-wrap: break-word}
.jobtypehead{margin-top: 0px
}
table {
    display: table-row-group;
    vertical-align: middle;
    border-color: black;border: 1px solid #999;
}
table.t01 {
    margin-top: 5;
    width: 100%;
    
}
table th:nth-child(odd) {
  background-color: #ffc266;
  color: white;
}
.jobsdetailtitles{  background-color:#85e085;
  color: white;font-size:18}
hr{height:7px; color:grey;}
table.t02{margin-top: 10px;padding: 4px 3px 2px;}